.todo-item {
  position: relative;
  padding: 25px;
  border-bottom: 1px solid #ccc;
  font-size: 22px;
}
.wrapper-text {
  display: flex;
}
.todo-title {
  max-width: 800px;
  margin-right: 10px;
  text-decoration: none;
  word-wrap: break-word;
}

.todo-description {
  max-width: 800px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.todo-button {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  background-color: #eee;
  cursor: pointer;
}

.delete-button {
  padding: 5px 10px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 10px;
}

.change-container {
  position: absolute;
  right: -250px;
  top: 0;

  display: flex;
  flex-direction: column;
}
